name: aitutor-cloudrun-app
on:
  push:
    branches:
      - master
      - main

env:
  PROJECT_ID: ${{ secrets.CLOUD_RUN_PROJECT_NAME }}
  REGION: us-east1
  # project-name but it can be anything you want
  REPO_NAME: aitutor-cloudrun-app

jobs:
  build-and-deploy:
    name: Setup, Build, and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Authenticate with Google Cloud
      - id: "auth"
        uses: "google-github-actions/auth@v0"
        with:
          credentials_json: "${{ secrets.CLOUD_RUN_SERVICE_ACCOUNT }}"

      # Setup gcloud CLI/SDK
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0

      - name: Authorize Docker push
        run: gcloud auth configure-docker

      - name: Build and tag the docker image
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_ORG_KEY: ${{ secrets.OPENAI_ORG_KEY }}
          BASE_URL: ${{ secrets.BASE_URL }}
          MONGO_ATLAS_USERNAME: ${{ secrets.MONGO_ATLAS_USERNAME }}
          MONGO_ATLAS_PASSWORD: ${{ secrets.MONGO_ATLAS_PASSWORD }}
          MONGO_ATLAS_DB: ${{ secrets.MONGO_ATLAS_DB }}
          BASE_URL_FRONTEND: ${{ secrets.BASE_URL_FRONTEND }}
          NEXT_PUBLIC_DEEPGRAM_API_KEY: ${{ secrets.NEXT_PUBLIC_DEEPGRAM_API_KEY }}
          GCLOUD_STORAGE_SERVICE_ACCOUNT_KEY: ${{ secrets.GCLOUD_STORAGE_SERVICE_ACCOUNT_KEY }}
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |-
          docker build . --tag gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA

      - name: Push the image to the Google Container Registry (GCR)
        run: |-
          docker push gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA

      - name: Deploy
        run: |-
          gcloud run deploy $REPO_NAME \
          --region $REGION \
          --image gcr.io/$PROJECT_ID/$REPO_NAME:$GITHUB_SHA \
          --platform "managed" \
          --set-env-vars 'OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }},OPENAI_ORG_KEY=${{ secrets.OPENAI_ORG_KEY }},BASE_URL=${{ secrets.BASE_URL }},MONGO_ATLAS_USERNAME=${{ secrets.MONGO_ATLAS_USERNAME }},MONGO_ATLAS_PASSWORD=${{ secrets.MONGO_ATLAS_PASSWORD }},MONGO_ATLAS_DB=${{ secrets.MONGO_ATLAS_DB }},BASE_URL_FRONTEND=${{ secrets.BASE_URL_FRONTEND }},NEXT_PUBLIC_DEEPGRAM_API_KEY=${{ secrets.NEXT_PUBLIC_DEEPGRAM_API_KEY }}' \
          --quiet